[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/locales"]
	path = modules/locales
	url = https://github.com/saz/puppet-locales.git
[submodule "modules/timezone"]
	path = modules/timezone
	url = https://github.com/saz/puppet-timezone.git
[submodule "modules/ntp"]
	path = modules/ntp
	url = https://github.com/puppetlabs/puppetlabs-ntp.git
[submodule "modules/apt"]
	path = modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
[submodule "modules/motd"]
	path = modules/motd
	url = https://github.com/puppetlabs/puppetlabs-motd.git
[submodule "modules/hostname"]
	path = modules/hostname
	url = https://github.com/mkpeacock/puppet-hostname.git
[submodule "modules/wget"]
	path = modules/wget
	url = https://github.com/maestrodev/puppet-wget.git
[submodule "modules/concat"]
	path = modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
[submodule "modules/puppi"]
	path = modules/puppi
	url = https://github.com/example42/puppi.git
